main{
  display: flex;
}
#card-form{
  padding: 1em;
  max-width: 30vw;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid #dadce0;
}

#card-form label {
  position: relative;
  top: 40px;
  left: 20px;
  background: white;
}
#card-form label.on {
  top: 0;
  font-size: 14px;
}

input{
  display: block;
  width: 100%;
  height: 50px;
}

#business-card {
  padding: 15px;
  width: 330px;
  height: 175px;
  border: none;
  box-shadow: 1px 1px 1px 1px;
  box-sizing: border-box;
}

#business-card ul{
  list-style: none;
}

.invalid{
  background-color: red;
}
.valid {
  background-color: greenyellow;
}