#business-card {
  padding: 15px;
  width: 330px;
  height: 175px;
  border: none;
  box-shadow: 1px 1px 1px 1px;
  box-sizing: border-box;
}
#business-card ul{
  list-style: none;
}

.invalid{
  background-color: red;
}
.valid {
  background-color: greenyellow;
}